body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap
}

.header {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(90deg, #eae7dc, #b6986f);
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
}

.header-line {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20vw;
    max-width: 80%;
    /* justify-content: space-around; */
}

.header-logo {
    margin-left: -150px;
}

.header-logo src {
    height: 100%;
}

.cards {
    display: inline-block;
}

.navigation {
    display: flex;
    gap: 25px;
}

.navigation-item {
    position: relative;
    padding: 1vh 2vh;
    text-align: center;
}

.navigation-item:hover {
    background-color: #EBE7E7;
}

.navigation-item:hover .navigation-item__dropdown {
    display: flex;
    background-color: #EBE7E7;
}

.navigation-item__link {
    color: #000;
    text-decoration: none;
    font-weight: 700;
    font-size: 21px;
    transition: color 0.3s linear;
}

.navigation-item__link:hover {
    color: sienna;
}

.navigation-item__dropdown {
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 5px 0 0 0;
    width: 100%;
    left: 0;
    display: none;
    flex-direction: column;
}

.navigation-item__dropdown .navigation-item__link {
    padding: 1vh 0;
}

.header-down {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20vh auto;
}

.header-main {
    display: flex;
    flex-direction: column;
}

.header-title {
    display: flex;
    flex-direction: column;
    width: 100px;
    color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 30px;
    /* left: 0; */
    margin: 5vh auto;
    max-width: 65%;
    width: 480px;
    min-width: 30vw;
    text-align: justify;
}

.header-subtitle {
    display: flex;
    color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 100;
    font-size: 26px;
}

.photo {
    max-width: 100%;
    /* width: 75%; */
    height: 100%;
    max-height: 150%;
    
}

.header-photo {
    margin: 0;
    display: flex;
    justify-content: center;
}

.card-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.card {
    background-color: #EBE7E7;
    height: 224px;
    width: 233px;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-image {
    display: flex;
    justify-content: center;
}

.card-title {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.card-title-item {
    text-decoration: none;
    transition: color 0.3s linear;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.card-title-item:hover {
    color: gray;
}

.choises {
    display: flex;
    flex-direction: column;
}

.choise-title {
    display: flex;
    color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin-left: 10cqw;
}

.choise {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    gap: 50px;
}

.choise-row {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.choise-item {
    display: flex;
    justify-content: center;
    width: 500px;
    max-width: 100%;
}

.choise-image img {
    width: 64px;
    height: 64px;
}

.choise-desk p {
    margin: 0;
}

.choise-desk {
    color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 100;
    font-size: 24px;
}

.care {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(60deg, #eae4dc, #e7d6bf);
    margin-top: 193px;
}

.care-title {
    display: flex;
    color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin-left: 10cqw;
}

.cards-care {
    display: flex;
    justify-content: center;
}

.cards-care-holder {
    display: flex;
    flex-wrap: wrap;
    gap: 170px;
}

.card-animal {
    background-color: #FFFFFF;
    height: 593px;
    width: 400px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}

.card-animal-title {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 26px;
}

.card-animal-image {
    display: flex;
    justify-content: center;
}

.card-animal-desk {
    color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 100;
    font-size: 17px;
    margin-top: 25px;
    margin-left: 23px;
}

.card-animal-price {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    color: #42B93F;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 23px;
}


.btn {
    display: flex;
    justify-content: center;
    width: 200px;
    padding: 15px;
    color: #000000;
    border: 1px solid #000;
    border-radius: 15px;
    text-align: center;
    outline: none;
    text-decoration: none;
    align-items: center;
    margin: 10vh auto;
}

.btn:hover,
.btn:active {
    background-color: #FFFFFF;
    color: #000;
}

.button {
    text-decoration: none;
    color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;

}

.advertise-title {
    display: flex;
    color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin-left: 10cqw;
}

.tizery-hr {
    margin: 10px 0 10px 0;
    padding: 10px 5px 5px 5px;
    text-align: center;
}

.tizery-hr img {
    width: 304px;
    height: 200px;
    display: block;
    margin: 25px auto 10px;
}

.tizery-hr a {
    color: #000 !important;
    display: inline-block;
    font-size: 18px !important;
    margin: 5px 0 5px 0;
    width: 400px;
    vertical-align: top;
    font-family: 'IBM Plex Sans', sans-serif;
    text-decoration: none;
    font-weight: 400;
}

main {
    flex-grow: 1;
}

footer {
    background-image: linear-gradient(90deg, #eae7dc, #b6986f);
    width: 100%;
}

.fot {
    display: flex;
    gap: 20vw;
    max-width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}
.fot-item {
    width: 10rem;
}

.desc {
    color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 200;
    font-size: 20px;
}

.content-item {
    text-decoration: underline;
    color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 200;
    font-size: 20px;
}

.map {
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.map-item {
    text-decoration: none;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
    font-size: 20px;
}

.probel {
    /* margin-top: 25px; */
}

.contact {
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
}

/* body { */
    /* display: flex; */
    /* flex-direction: column; */
    /* min-height: 100vh; */
    /* min-height: 100dvh; */
/* } */
