@import "header.css";
@import "footer.css";
@import "scroll_up.css";

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0px 150px;
}

.conthandler {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.int {
    position: relative;
    display: flex;
    margin: 5vh 5vh;
    justify-content: center;
    /* justify-content: center; */
    /* flex-grow: 1; */
    /* align-items: center; */
    /* margin: 50% 0; */
    /* position: relative; */
}

.int-desc {
    color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    margin-top: 5px;
}

.scr {
    position: relative;
    display: flex;
    margin: 5vh 5vh;
    /* margin: auto; */
    /* max-width: 30%; */
}

.cont-title {
    color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin: 50px 0px 0px 50px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    font-style: italic;
}

.cont {
    justify-content: space-between;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cont-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cont-item {
    display: flex;
    margin: 1vh 1vw;
    min-width: 20vw;
    width: 400px;
    max-width: 80vw;
}

.cont-desk {
    color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 100;
    font-size: 24px;
}


.cont-image {
    width: 20%;
}

.cont-desk { 
    width: 80%;
}