@import "header.css";
@import "footer.css";
@import "scroll_up.css";

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.history {
    color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 30px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    font-style: italic;
    margin-top: 45px;
}

.history-desc {
    color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 25px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    min-width: 45%;
    width: 1000px;
    text-align: justify;
    max-width: 100%;
    margin: 0 auto;
}

.history-img {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
}

.history-kate {
    color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 22px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    font-style: italic;
    margin-top: 5px;
}


iframe {
    width: 100%;
    height: 450px;
}

.our-team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team {
    color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin: 0 auto;
}