body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}
.container {
   margin: 0px 150px; 
}

.header {
    background-image: linear-gradient(90deg, #eae7dc, #b6986f);
    height: 220px;
}

.header-line {
    padding-top: 67px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-logo {
    margin-left: -150px;
}

.navigation {
    display: flex;
    gap: 25px;
}

.navigation-item {
    position: relative;
    padding: 5px 25px;
    text-align: center;
}

.navigation-item:hover {
    background-color: #EBE7E7;
}

.navigation-item:hover .navigation-item__dropdown {
    display: flex;
    background-color: #EBE7E7;
}

.navigation-item__link {
    color: #000;
    text-decoration: none;
    font-weight: 700;
    font-size: 21px;
    transition: color 0.3s linear;
}

.navigation-item__link:hover {
    color: sienna;
}

.navigation-item__dropdown {
    position: absolute;
    padding: 5px 0 0 0;
    width: 100%;
    left: 0;
    display: none;
    flex-direction: column;
}

.navigation-item__dropdown .navigation-item__link {
    padding: 5px 0;
}

.service{
    color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 30px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    font-style: italic;
    margin-top: 45px;

}

.descr {
    color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin: 150px;
    margin-top: 70px;

}

.img{
    margin: -450px 1380px;
}

.hair {
    color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin-left: 720px;
    margin-top: 600px;
    margin-right: 150px;
}

.img-scissors{
    margin-top: -200px;
    margin-left: 150px;
}

.options{
    color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin-top: 250px;
    margin-left: 150px;
}

.img2{
    margin-top: -260px;
    margin-left: 1450px;
}

.btn {
    display: inline-block;
    width: 200px;
    padding: 15px;
    color: #000000;
    border: 1px solid #000;
    border-radius: 15px;
    text-align: center;
    outline: none;
    text-decoration: none;
    align-items: center;
    margin: 100px 44% 0 44%;
  }
  .btn:hover,
  .btn:active {
    background-color: #FFFFFF;
    color: #000;
  }

  .button{
    text-decoration: none;
    color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;

  }

  footer{
    background-image: linear-gradient(90deg, #eae7dc, #b6986f);
    padding: 90px;
    margin-top: 100px;
}
.fot{
    display: flex;
    margin-left: 75px;
    gap: 350px;

}
.desc {
    color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 200;
    font-size: 20px;
}

.content-item{
    text-decoration: underline;
    color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 200;
    font-size: 20px;
}

.map {
gap: 5px;
display: flex;
flex-direction: column;
justify-content: space-evenly;
}

.map-item{
    text-decoration: none;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
    font-size: 20px;
}
.probel {
    margin-top: 25px;
}

.contact {
display: flex;
flex-direction: column;
gap: 15px;
}

body{
    display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
}