@import "header.css";
@import "footer.css";
@import "scroll_up.css";

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.service {
    color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 30px;
    display: flex;
    justify-content: center;
    /* flex-grow: 1; */
    align-items: center;
    font-style: italic;
}

.btn {
    width: 200px;
    padding: 15px;
    color: #000000;
    border: 1px solid #000;
    border-radius: 15px;
    text-align: center;
    outline: none;
    text-decoration: none;
    align-items: center;
    margin: 5vh auto;
}

.btn:hover,
.btn:active {
    background-color: #FFFFFF;
    color: #000;
}

.button {
    text-decoration: none;
    color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.main-item {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5vh auto;
    align-items: center;
}

.main-item.hair {
    flex-wrap: wrap-reverse;
}

.main-text p {
    margin: 0;
    text-align: justify;
}

.main-text {
    min-width: 45vw;
    max-width: 100vw;
    width: 500px;
    color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 25px;
}